:root {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #222222;
}

::-webkit-scrollbar {
    width: .625em;
}
  

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #243b53;
}

::-webkit-scrollbar-thumb:hover {
    background: #102a43;
}

/* Stat boxes */

#str,#dex,#con,
#int,#wis,#cha {
    height: 1.25em;
    width: 1.25em;
    border: 1px solid #627d98;
    border-radius: 25%;  
    font-size:5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #102a43;
    margin: 4px;
    color: #0ad403;
    
    
}

/* flexbox in a flexbox to adjust placement */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 800px;
}


button {
    background-color: #102a43;
    border-radius: 6px;
    border: 1px solid #627d98;
    color: rgb(255, 255, 255);
    margin: 1em;
    padding: 10px;
    font-size: 1.25em;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    transition: all .5s; 
}

button:hover::after {
  content: '\00bb';
  font-size: 1.25em;
}

button:hover {
    opacity: .75;
    color: #0ad403;
    font-weight: bold;
    padding-right: 25px;
    transition: all .5s;
}

h1{
    color: #f0f4f8;
    text-align: left;
    background: #102a43;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    border-bottom: 4px solid #627d98;
    text-indent: 70px;

    
}

/* Media Queries  */
@media only screen and (max-width:800px) {
    ul,#str,#dex,#con,
    #int,#wis,#cha {
        max-width:380px;
    }
} 